<div class="creates mt" >
    <h1>Create Invoice</h1>
    <!-- <div>
      <button mat-raised-button (click)="openDialog()">Add Items</button>
      </div>
              <form #userForm="ngForm" (ngSubmit)="onSend(userForm)">
              <h2 matDialogTitle>Add Items</h2> 
                  <input  matInput type="text" placeholder="Name" name="itemName" ngModel required >
                  <br>
                  <br>
                  <input matInput type="text" name="enabled" placeholder="Price" ngModel required>
                  <br>
                  <br>
                  <input matInput type="text" name="enabled" placeholder="Quantity" ngModel required>

              <mat-dialog-actions align="end">
                  <button mat-button matDialogClose="no">Cancel</button>
                  <button type="submit" mat-button>Submit</button>
              </mat-dialog-actions>
          </form>
          </ng-template> -->
    <form [formGroup]="invoice"  >
      <div class="invoiceInfo">
            <mat-form-field class="full-width" appearance="outline">

                <mat-label>Customer Name</mat-label>
                <input
                required
                matInput
                formControlName="customerName"
                type="text"
                name="customerName"
               
                  placeholder="Enter here">
                  <mat-error>{{getErrorMessage('customerName', 'required') || getErrorMessage('customerName', 'pattern') }}</mat-error>

              </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-error>{{getErrorMessage('invoiceNumber', 'required')}}</mat-error>

                <mat-label>Invoice Number</mat-label>
                <input
                required
                matInput
                formControlName="invoiceNumber"
                type="number"
                name="invoiceNumber"
                 
                  placeholder="Enter here">
              </mat-form-field>        
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Total Price</mat-label>
                <input
                required
                matInput
                disabled = "true" 
                type="number"
                name="totalPrice"
                value="{{invoice.totalPrice}}"


                 >
              </mat-form-field>   
            
            <mat-form-field class="full-width"  appearance="outline">
                <mat-label>Invoice Date</mat-label>
                <input
                required
                matInput
                formControlName="invoiceDate"
                type="date"
                name="invoiceDate"
               
                  placeholder="Enter here">
              </mat-form-field>  

              <div class="custom-file">
                
                <input type="file" name="InvoicePic">

              </div>

            
        
    <br>
        <button [disabled]="invoice.invalid" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
      </div>
<div class="itemss">
  <div class="array" [formGroup] = "items">
    <div  class="itemInfo">
      <mat-form-field appearance="outline" class="">
        <mat-label>Item Name</mat-label>
        <input matInput formControlName="itemName"
        required
               name="itemName"
        >
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="">
        
        <mat-label>Item Price</mat-label>
        <input matInput formControlName="unitPrice"
        required
               name="unitPrice"
        >
        <mat-error>
          {{getItemsError('unitPrice' , 'required') || getItemsError('unitPrice' , 'patternNumber')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity"
        required
               name="quantity"
        >
      </mat-form-field>
    </div>
    <button [disabled]="invoice.invalid" class="btn btn-dark height" type="button" (click)="addItemToArry()">Add Item</button>
  </div>
  <div
    class="formItem">
    <table class="table table-striped itemss">
      <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">

        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of createdItems; let i = index" >
        <td class="td">
          {{item.itemName}}
        </td>
        <td class="td">{{ item.unitPrice | number }}</td>
        <td class="td">{{ item.quantity }}</td>
      <td>
        <button class="btn btn-dark" (click)="onDelete(i)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-trash-fill"
               viewBox="0 0 16 16">
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
      </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
    
    </form>
    
    <p>{{ error }}</p>

    </div>
<!---->

